@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
body {
  background-color: #343437;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* pre-load */
.main-loading {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* header section */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.under-title {
  display: grid;
  margin-top: 5px;
  width: 95%;
  grid-template-columns: 5% 90% 5%;
}
.ticker-tape {
  margin-top: 10px;
  grid-column: 1 / 4;
}

/* dashboard component */
.dash-container {
  box-shadow: 0px 0px 20px 3px #282727;
  margin: 0 auto;
  border-radius: 2vh;
  background-color: #616161;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1400px;
}

/* form component */
.textbox-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 5%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.news-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
}

/* news component */
.paper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 600px;
  border-radius: 1.5vh;
  color: white;
  background-color: #343437;
  margin: 10px auto;
}
.article-container {
  background-color: #343437;
  height: 95%;
  width: 98%;
  margin: 5px auto;
  overflow-y: auto;
}
.chip-container {
  background-color: #343437;
  width: auto;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* chart component*/
.widget-container {
  background-color:#343437;
  margin: 10px auto;
  border-radius: 2vh;
  height: 700px;
  padding: 15px;
  width: 87%;
  
}
.layout-switcher {
  display: none;
}

/* market (replaces chart on mobile) component */
.market-overview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 600px;
}


/* footer */
.footer {
  font-size: 12px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* links */
.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  color: #3ecb3e;
  text-decoration: underline;
}

/* terms of service and privacy policy */
.policy-container {
  width: 90%;
  color: white;
}
.policy-h2 {
  text-decoration: underline;
}
.policy-ul {
  text-align: left;
}


.tester {
  color: #242424;
}

@media only screen and (min-width: 400px) {
  .chip-container {
    width: auto;
  }
  .dash-container {
    height: 1500px;
  }
}


/* media queries for screen size responsiveness */
@media only screen and (min-width: 1200px) {
  .news-heading {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .dash-container {
    display: grid;
    grid-template-columns: 30px 450px auto;
    grid-template-rows: 80px auto 620px 20px;
    width: 97%;
    height: auto;
  }
  .paper-container {
    width: 100%;
    height: 97%;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .article-container {
    width: 95%;
  }
  .chip-container {
    width: auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .widget-container {
    height: 93%;
    width: 93%;
    margin-top: 25px;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
  }
  
  
  /* switcher component */
  .layout-switcher {
    display: none; /* only for desktop */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 95%;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .icon {
    padding: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
  }
  .highlighted-icon {
    padding: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-bottom: 5px solid #05a905;
  }


  .policy-container {
    width: 600px;
  }

}